body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-card {
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 15px; /*bo tròn góc*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.box {
    background-color: goldenrod;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #ffecd2, #fcb69f)
}

.box:hover {
    background: linear-gradient(to right, #fcb69f, #f4f4f4);
}